<div id="js-menu" class="menufix">
    <button type="button" class="drawer-toggle drawer-hamburger">
      <span class="sr-only">toggle navigation</span>
      <span class="drawer-hamburger-icon"></span>
    </button>
  </div>
    
  <div class="inner" style="overflow: hidden">
    <header class="header" role="banner">
      <div class="header__inner">
        <a href="/"><figure class="slogo"> Planet</figure></a>
        <div class="header__menu" id="headerMenu">
          <p class="header__menu--ttl">MENU</p>
          <button type="button" class="drawer-toggle drawer-hamburger">
            <span class="sr-only">toggle navigation</span>
            <span class="drawer-hamburger-icon"></span>
          </button>
        </div>
        <nav class="drawer-nav" role="navigation">
          <p class="drawer-closebtn">
            <span class="drawer-toggle"></span>
          </p>
          <p class="nav__logo"><a href="/" class="logo">SCLAMBLE PLANET</a></p>

          <ul class="drawer-menu nav__menu">
            <li><span class="nav__menu--ttl">Menu</span></li>
            <li><a class="drawer-menu-item drawer-toggle" href="#movie"><span class="nav__menu--movie">movie</span></a>
            </li>
            <li><a class="drawer-menu-item drawer-toggle" href="#discography"><span
                  class="nav__menu--disco">DISCOGRAPHY</span></a></li>
            <li><a class="drawer-menu-item drawer-toggle" href="/news.html"><span class="nav__menu--news"> news</span></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>