@charset "utf-8";
@use "reset";
@use "base";
@use "newspage";

* {
  box-sizing: border-box;
  outline: none;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

body {
  background: url("../img/BG.svg");
  background-color: #cccccc;
  background-repeat: repeat-y;
  background-size: 1644px 1044px;
  background-position: 0 center;
  animation: bgiLoop 60s infinite;
}

@keyframes bgiLoop {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 1044px;
  }

}

.header {
  &__inner {
    border-top: solid 2px base.$CR;
    border-bottom: solid 2px base.$CR;
    padding: 17px 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    width: 132px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--ttl {
      display: block;
      white-space: nowrap;
      text-indent: -9999px;
      background: url("../img/menu.svg");
      background-repeat: no-repeat;
      background-size: 100% auto;
      width: 73px;
      height: 12px;
    }
  }
}

.slogo {
  display: block;
  white-space: nowrap;
  text-indent: -9999px;
  background: url("../img/slogo.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 219px;
  height: 42px;
}

.logo {
  display: block;
  margin: 0 auto;
  white-space: nowrap;
  text-indent: -9999px;
  background: url("../img/logo.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 417px;
  height: 363px;
}

//btn
.openbtn {
  position: relative;
  cursor: pointer;
  width: 36px;
  height: 30px;
}

/*ボタン内側*/
.openbtn .openbtn-area {
  transition: all 0.6s;
  width: 36px;
  height: 30px;
}

.openbtn span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  height: 4px;
  background: #fff;
  width: 100%;
}

.openbtn span:nth-of-type(1) {
  top: 0px;
}

.openbtn span:nth-of-type(2) {
  top: 13px;
}

.openbtn span:nth-of-type(3) {
  top: 26px;
}

.header__menu.active .openbtn-area {
  transform: rotate(360deg);
}

.header__menu.active span:nth-of-type(1) {
  top: 0px;
  left: 0px;
  transform: translateY(13px) rotate(-45deg);
  width: 100%;
}

.header__menu.active span:nth-of-type(2) {
  opacity: 0;
}

.header__menu.active span:nth-of-type(3) {
  bottom: 0px;
  left: 0px;
  transform: translateY(-13px) rotate(45deg);
  width: 100%;
}

.main {
  &__logo {
    padding: 85px 0 60px;
  }

  &__txt {
    text-align: center;
    color: base.$CR;
    font-size: 1.8rem;
    line-height: 2;
    padding: 20px 0;
  }

  &__animeR {
    text-align: right;
  }
}

.rocketR {
  text-align: right;
  width: 28px;
  display: inline-block;
  height: 14px;
  background: url("../img/roketR.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;

  &__wrapper {
    text-align: right;
  }

  &.active {
    animation: animR 2s linear forwards;
  }
}

.borderR {
  position: relative;
  text-align: right;
  font-size: 18px;

  &.active {
    &:before {
      animation: border_anim 2s linear forwards;
    }
  }
}

.borderR:before {
  content: "";
  position: absolute;
  left: 100%;
  width: 0;
  transform: translateX(-100%);
  bottom: 6px;
  border-bottom: solid 2px #fff;
}

.rocketL {
  width: 28px;
  display: block;
  height: 14px;
  background: url("../img/roketL.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;

  &.active {
    animation: anim 2s linear forwards;
  }
}

.borderL {
  position: relative;
  font-size: 18px;

  &.active {
    &:before {
      animation: border_anim 2s linear forwards;
    }
  }
}

.borderL:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  border-bottom: solid 2px #fff;
}

.movie {
  padding: 200px 0 106px;

  &__ttl {
    white-space: nowrap;
    text-indent: -9999px;
    margin: 0 auto;
    background: url("../img/ttl_movie.svg") no-repeat 0 0;
    background-size: 100% auto;
    width: 173px;
    height: 38px;
  }

  &__youtube {
    margin-top: 47px;
    margin-right: -42px;

    &--blc {
      margin: 0 42px 0 0;
      .youtubeMovie {
        position: relative;
        width: 100%;
        padding-top: 56.25%;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    &--txt {
      font-size: 1rem;
      color: base.$CR;
      line-height: 1.5;
      margin-top: 1em;
      padding-bottom: 20px;
    }
  }

  &__single {
    margin: 0 auto;
    padding: 87px 150px 0;

    &--movie {
      width: 100% !important;
      position: relative;
      padding-top: 56.25%;

      iframe {
        width: 100% !important;
        height: 100% !important;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
  &__double {
    &--wrapper{
      margin: 0 auto;
      padding: 87px 0 0;
      display: flex;
      justify-content: space-between;
        li{
          width: 49%;
          list-style: none;
        }
      }
    &--movie {
      width: 100% !important;
      position: relative;
      padding-top: 56.25%;

      iframe {
        width: 100% !important;
        height: 100% !important;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  &__more{
    .movie__double--wrapper{
      display: none;
    }
    &--btn{
      text-align: center;
      margin: 20px auto;
      display: inline-block;
      background-color: base.$BC;
      padding: 8px 10px 8px 15px;
      justify-content: center;
      display: flex;
      align-items: center;
      width: 200px;
      max-width: 200px;
      cursor: pointer;
      &:hover{
        opacity: 0.7;
        .movie__more--arrow{
         transform:rotate(-90deg);
          margin-top: -1px;
          animation: 0.3s all rotation;
          margin-left: 10px;

        }
      }
    }
    &--txt{

      background: url(base.$PATH + "more.svg") no-repeat;
      white-space: nowrap;
      text-indent: -9999px;
      display: inline-block;
      width: 130px;
      height: 22px;
    }
    &--arrow{
      background: url(base.$PATH + "arrow_more.svg") no-repeat;
      white-space: nowrap;
      text-indent: -9999px;
      display: inline-block;
      width: 17px;
      height: 11px;
      margin-left: 10px;
      margin-top: 1px;
      transform:rotate(0deg);
      transition: .3s;
    }
  }
}


.discovery {
  margin: 0 auto 106px;

  &__ttl {
    white-space: nowrap;
    text-indent: -9999px;
    margin: 0 auto;
    background: url("../img/ttl_discovery.svg") no-repeat 0 0;
    background-size: 100% auto;
    width: 382px;
    height: 38px;
  }

  &__list {
    overflow: hidden;
    display: flex;
    // justify-content: space-between;
    li {
      display: flex;
      width: 48%;
      max-width: 48%;
      padding: 0 30px;
      justify-content: center;
      margin: 80px auto 0;
      align-items: center;

      .misicplay {
        margin-top: 40px;
      }

    }

  }

  &__img {
    position: relative;
    width: 258px;
    height: 258px;
    margin: 0 20px 0 0;
    flex-shrink: 0;

    &--shadow {
      position: absolute;
      right: 0;
      bottom: 0;
      border-radius: 16px;
      background: base.$BC;
      width: 250px;
      height: 250px;
      display: inline-block;
    }

    img {
      width: 250px;
      position: absolute;
    }
  }

  &__txtblc {
    &--date {
      color: base.$CR;
      font-size: 1.4rem;
    }

    &--badge {
      background: base.$BC;
      padding: 3px 4px;
    }

    &--name {
      font-size: 2.3rem;
      color: base.$CR;
      line-height: 1.4;
      margin: 14px 0;
    }

    &--exe {
      font-size: 1.3rem;
      line-height: 1.6;
      color: base.$CR;
    }

    &--purchase {
      background: base.$BC;
      color: base.$CR;
      display: inline-block;
      font-size: 2rem;
      text-decoration: none;
      border-radius: 15px;
      padding: 10px 15px;
      margin: 50px 0 0;
    }
  }
}


.btnWrap{
  max-width: 200px;
  margin: 50px 0 0;
  .btnStreaming{
    background: url('../img/btnstreaming.svg') no-repeat 0 0;
    background-size: 100% auto;
    padding-top: 25%;
    display: block;
  }
}
.footer {
  background: base.$CR;
  padding: 40px 0;

  &__inner {
    width: 960px;
    margin: 0 auto;
  }

  &__subscribe {
    font-weight: 600;
    color: #7e7f7f;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin: 0 0 20px;

    span {
      width: 30px;
      height: 30px;
      display: inline-block;
      background: url("../img/footer_onpu.svg") no-repeat 0 0;
      background-size: 100% auto;
      margin: 0 10px 0 0;
    }
  }

  &__cart {
    font-weight: 600;
    color: #7e7f7f;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin: 92px 0 20px;

    span {
      width: 30px;
      height: 30px;
      display: inline-block;
      background: url("../img/footer_cart.svg") no-repeat 0 0;
      background-size: 100% auto;
      margin: 0 10px 0 0;
    }
  }

  &__music {
    overflow: hidden;
    width: 100%;

    li {
      list-style: none;
      width: 25%;
      float: left;
    }


    a {
      display: block;
      width: 100%;

      span {
        display: block;
        white-space: nowrap;
        text-indent: -9999px;
        width: 210px;
        height: 64px;
      }
    }

    &--line {
      span {
        background: url("../img/linemusicPc.svg") no-repeat 0 0;
        background-size: 100% auto;
      }
    }

    &--apple {
      span {
        background: url("../img/applemusic.svg") no-repeat 0 0;
        background-size: 100% auto;
      }
    }

    &--spotify {
      span {
        background: url("../img/spotify.svg") no-repeat 0 0;
        background-size: 100% auto;
      }
    }

    &--amazon {
      span {
        background: url("../img/amazonmusicPc.svg") no-repeat 0 0;
        background-size: 100% auto;
      }
    }

    &--reco {
      span {
        background: url("../img/recochoku.svg") no-repeat 0 0;
        background-size: 100% auto;
      }
    }

    &--mora {
      span {
        background: url("../img/mora.svg") no-repeat 0 0;
        background-size: 100% auto;
      }
    }

    &--itune {
      span {
        background: url("../img/itunePc.svg") no-repeat 0 0;
        background-size: 100% auto;
      }
    }
  }
  &__corpWrap{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    font-size: 16px;
    padding: 50px 0 0;
  }
  &__corp{
    display: flex;
    text-align: center;
    color: #FFF;
    line-height: 1.5;
    justify-content: center;
    align-items: center;
    li{
      list-style: none;
      font-style: 12px;
      line-height: 1.5;
    }
   .footer__corp--twinWrapper{
    width: 16%;
    margin-right: 10px;

  }
  .footer__corp--incsWrapper{
    width: 8%;
    margin: 0 5% 0 0;

  }
    &--twin{
      display: block;
      white-space: nowrap;
      text-indent: -9999px;
      padding-top: 26.3%;
      background: url('../img/logo_twin.png') no-repeat 0 0;
      background-size: 100% auto;

    }
    &--incs{
      display: block;
      white-space: nowrap;
      text-indent: -9999px;
      padding-top: 100%;
      background: url('../img/logo_incs.png') no-repeat 0 0;
      background-size: 100% auto;

    }
  }
}

.news {

  &__ttl {
    white-space: nowrap;
    text-indent: -9999px;
    margin: 0 auto;
    background: url("../img/ttl_news.svg") no-repeat 0 0;
    background-size: 100% auto;
    width: 166px;
    height: 38px;
  }

  &__article {
    list-style: none;
    width: 550px;
    margin: 0 auto 70px;
    a{
      text-decoration: none;
    }
    li {
      margin-top: 30px;
    }

    &--date {
      background-color: base.$BC;
      color: base.$CR;
      font-size: 1.2rem;
      line-height: 1.1;
      display: inline-block;
      padding: 2px 3px;
      margin: 0 0 10px;
    }

    &--con {
      font-size: 1.4rem;
      text-align: left;
      color: base.$CR;
      line-height: 1.5;
    }
  }

  &__snslink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto 0;
    padding: 0 0 50px;
    width: 400px;
    a {
      white-space: nowrap;
      text-indent: -9999px;
      display: block;
      margin: 0 auto;
      flex-shrink: 0;
      
    }
    &--blc{

    }

    &--tiktok {
      background: url("../img/logotiktok.png") no-repeat 0 0;
      background-size: 100% auto;
      width: 171px;
      height: 40px;
    }

    &--youtube {
      background: url("../img/logo_youtube.svg") no-repeat 0 0;
      background-size: 100% auto;
      width: 62px;
      height: 62px;
    }

    &--twitter {
      background: url("../img/logo_tw.svg") no-repeat 0 0;
      background-size: 100% auto;
      width: 62px;
      height: 62px;
    }
  }
}

.copyright {
  padding: 33px 0;

  p {
    text-align: center;
    color: base.$CR;
    font-size: 1.2rem;
  }
}

//PC-------------------------------------------------------
@media all and (min-width: 1280px) {
  @keyframes anim {
    0% {
      transform: translateX(50px);
    }

    100% {
      transform: translateX(1172px);
    }
  }

  @keyframes border_anim {
    0% {
      width: 3.2%;
    }

    100% {
      width: 97%;
    }
  }

  @keyframes animR {
    0% {
      transform: translateX(1150px);
    }

    100% {
      transform: translateX(0px);
    }
  }

  .header {
    padding: 30px 40px 0;

    &__inner {
      margin: 0 auto;
      width: 1200px;
    }
  }

  .main {
    padding: 0;

    &__inner {
      margin: 0 auto;
      width: 1200px;
    }
  }
}

/* タブレット画面サイズが751px以上 */
@media all and (min-width: base.$BP+1) and (max-width: 1280px) {
  @keyframes anim {
    0% {
      transform: translateX(3.9vw);
    }

    100% {
      transform: translateX(86vw);
    }
  }

  @keyframes border_anim {
    0% {
      width: 3.2%;
    }

    100% {
      width: 95.5%;
    }
  }

  @keyframes animR {
    0% {
      transform: translateX(86vw);
    }

    100% {
      transform: translateX(0vw);
    }
  }

  .header {
    padding: 30px 40px 0;

    &__inner {
      width: 100%;
    }
  }

  .main {
    padding: 0 40px;

    &__inner {
      width: 100%;
    }

    &__animeR {
      display: block;
      position: relative;
    }
  }

  .discovery {
    &__list {
      width: 100%;
      
      // li {
      //   width: 46%;
      // }
      li{
        padding: 0;
        align-items: start;
        max-width: 46%;
        width: 46%;
      }
    }

    &__img {
      width: 20.2vw;
      height: 20.2vw;
      margin: 0 1.5vw 0 0;

      &--shadow {
        width: 19.5vw;
        height: 19.5vw;
      }

      img {
        width: 19.5vw;
      }
    }
  }
}



.nav {
  &__logo {
    padding: 20px 0 30px;
    text-align: center;

    .logo {
      width: 200px;
      height: 174px;
    }
  }

  &__menu {
    padding: 0 30px;
    margin: 50px 0 0;

    span {
      display: block;
      width: 100%;
      padding-top: 6.55%;
      white-space: nowrap;
      text-indent: -9999px;
      line-height: 0;
    }

    &--ttl {
      background: url('../img/nav_menu.svg') no-repeat 0 0;
      background-size: 100% auto;
    }

    &--movie {
      background: url('../img/nav_movie.svg') no-repeat 0 0;
      background-size: 100% auto;
    }

    &--disco {
      background: url('../img/nav_discography.svg') no-repeat 0 0;
      background-size: 100% auto;
    }

    &--news {
      background: url('../img/nav_news.svg') no-repeat 0 0;
      background-size: 100% auto;
    }

    li {
      padding: 8px 40px;

      &:first-child {
        border-top: solid 2px #fff;
        border-bottom: solid 2px #fff;
        margin: 0 0 20px;
        padding: 20px 30px;
      }
    }
  }
}

.drawer-nav {
  width: 400px;
  max-width: 80vw;
  background: #cccccc;
  padding: 20px;
}

.drawer--right .drawer-nav {
  right: -100vw;
}
.drawer-closebtn{

    span{
      width: 20px;
      height: 20px;
      display: block;
      background: url('../img/batsu.svg') no-repeat 0 0;
      background-size: 100% auto;
    }
}
.drawer-hamburger {
  position: relative;
  width: 30px;
  z-index: 1;
  button {
    color: #FFF;
  }
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
  background-color: #FFF;
}
.menufix{
  position: fixed;
  right: 50px; 
  top: 30px;
  display: none;
  &.active{
    display: block!important;
  }
}
@media screen and (max-width: base.$BP) {
  .menufix{
    position: fixed;
    right: 20px; 
    top: 20px;
    display: none;
    &.active{
      display: block!important;
    }
  }
  .drawer-hamburger {
    width: 26px;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 18px;
  }
  .nav {
    &__logo {
      padding: 20px 0 30px;
      text-align: center;

      .logo {
        width: 170px;
        height: 149px;
      }
    }

    &__menu {
      padding: 0 18px;
      margin: 30px 0 0;

      li {
        padding: 5px 20px;

        &:first-child {
          border-top: solid 2px #fff;
          border-bottom: solid 2px #fff;
          margin: 0 0 20px;
          padding: 6px 10px;
        }
      }
    }
  }
}


/* SP 画面サイズが750px以下--------------------------------- */
@media screen and (max-width: base.$BP) {
  .btnWrap{
    max-width: 26.6vw;
    margin: 30px 0 0;
  }
  .rocketR {
    &.active {
      animation: animR 1.5s linear forwards;
    }
  }

  .borderR {
    &.active {
      &:before {
        animation: border_anim 1.5s linear forwards;
      }
    }
  }

  .rocketL {
    &.active {
      animation: anim 1.5s linear forwards;
    }
  }

  .borderL {
    &.active {
      &:before {
        animation: border_anim 1.5s linear forwards;
      }
    }
  }

  @keyframes anim {
    0% {
      transform: translateX(3.9vw);
    }

    100% {
      transform: translateX(84vw);
    }
  }

  @keyframes border_anim {
    0% {
      width: 3.2%;
    }

    100% {
      width: 90%;
    }
  }

  @keyframes animR {
    0% {
      transform: translateX(86vw);
    }

    100% {
      transform: translateX(0vw);
    }
  }

  .header {
    padding: 26px 4.5% 0;

    &__inner {
      // padding: 2.266vw 1.733vw;
      padding: 0 1.733vw;
    }

    &__menu {
      padding: 3px 0;
      width: calc(13vw + 36px);

      &--ttl {
        width: 9.733vw;
        height: 1.6vw;
      }
    }
  }

  .main {
    width: 100vw;
    padding: 0 4.5%;

    &__logo {
      padding: 8.4vw 0;
    }

    &__txt {
      font-size: 0.9rem;
    }
  }

  .logo {
    width: 55.6vw;
    height: 48.4vw;
  }

  .slogo {
    width: 29.2vw;
    height: 5.6vw;
  }

  .movie {
    padding: 16vw 0 10vw;

    &__ttl {
      width: 23.06vw;
      height: 5.066vw;
      margin-bottom: 20px;
    }

    &__youtube {
      width: 100%;
      margin-top: 6vw;
      margin-right: 0px;

      &--blc {
        margin: 0;
      }

      &--txt {
        font-size: 1rem;
        line-height: 1.5;
        margin-top: 1em;
        padding-bottom: 0;
      }
    }

    &__single {
      margin: 0 auto;
      padding: 0;
    }
    &__double {
      &--wrapper{
        margin: 0 auto;
        padding: 0 0 0;
        display: block;
          li{
            width: 100%;
            margin: 0 0 10vw;

            list-style: none;
            &:nth-child(2n){
            }
          }
        }
      &--movie {
        width: 100% !important;
        position: relative;
        padding-top: 56.25%;
  
        iframe {
          width: 100% !important;
          height: 100% !important;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
  }

  .discovery {
    margin: 0 auto 9.33vw;

    &__list {
      overflow: hidden;
      width: 100%;
      padding: 0 3.5vw;
      padding: 0;
      display: block;
      li {
        display: flex;
        float: none !important;
        width: 90%;
        max-width: 90%;
        margin-top: 8vw;
        padding: 0;
        align-items: center;

        &:nth-child(odd) {
          float: none !important;
        }

        .misicplay {
          margin-top: 0;
        }

        .miscplayWrapper {
          margin-top: 7vw;
          max-width: 300px;

          audio {
            width: 100%;
          }
        }
      }
    }

    &__ttl {
      width: 50.99vw;
      height: 5.066vw;
    }

    &__img {
      width: 39.1vw;
      margin: 0 2vw 10px 0;
      height: 39.1vw;

      &--shadow {
        border-radius: 16px;
        width: 38.1vw;
        height: 38.1vw;
      }

      img {
        width: 38.1vw;
      }
    }

    &__txtblc {
      display: inline-block;
      margin: 0 0 0;
      width: 100%;
      max-width: 300px;

      &--date {
        font-size: 0.8rem;
      }

      &--badge {
        padding: 3px 4px;
      }

      &--name {
        font-size: 1.3rem;
        margin: 10px 0 6px;
      }

      &--exe {
        font-size: 0.8rem;
        line-height: 1.4;
      }

      &--purchase {
        font-size: 1.2rem;
        border-radius: 7px;
        padding: 7px 8px;
        margin: 6.6vw 0 0;
      }
    }
  }

  .news {
    padding: 0 6.8vw 0;

    &__ttl {
      background-size: 100% auto;
      width: 22.22vw;
      height: 5.066vw;
    }

    &__article {
      width: 100%;
      margin: 0 auto 9.33vw;

      li {
        margin-top: 3.6vw;
      }

      &--date {
        margin: 0 0 3px;
        font-size: 0.6rem;
      }

      &--con {
        line-height: 1.5;
        font-size: 0.7rem;
      }
    }

    &__snslink {
      margin: 0 auto;
      padding-bottom: 8vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto 0;
      width: 70vw;
      max-width: 250px;

  
      &--tiktok {
        width: 80px;
        height: 19px;
      }
  
      &--youtube {
        width: 30px;
        height: 30px;
      }
  
      &--twitter {
        width: 30px;
        height: 30px;
      }
    }
  }

  .footer {
    padding: 5.33vw 6vw;
    width: 100vw;

    &__inner {
      width: 100%;
    }

    &__subscribe {
      font-size: 1rem;
      align-items: center;
      justify-content: center;
      margin: 0 0 6.4vw;

      span {
        width: 15px;
        height: 15px;
        margin: 0 10px 0 0;
      }
    }

    &__cart {
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10vw 0 6.4vw;

      span {
        width: 15px;
        height: 15px;
        margin: 0 10px 0 0;
      }
    }

    &__music {
      overflow: hidden;
      width: 100%;

      li {
        list-style: none;
        width: 43vw;
        float: left;
        margin: 0 0 1vw 0;

        &:nth-child(even) {
          margin-right: 0;
          float: right;
        }
      }

      a {
        display: block;
        width: 100%;
        background: #fff;
        padding: 10px 0;
        box-shadow: 0px 6px 3px 5px rgba(243, 246, 245, 0.9) ;
        span {
          display: block;
          white-space: nowrap;
          text-indent: -9999px;
          width: 30.133vw !important;
          height: 8.8vw;
          margin: 0 auto;
        }
      }

      &--line {
        span {
          background: url("../img/linemusic.svg") no-repeat 0 0;
          background-size: 100% auto;
        }
      }

      &--apple {
        span {
          background: url("../img/applemusic.svg") no-repeat 0 0;
          background-size: 100% auto;
        }
      }

      &--spotify {
        span {
          background: url("../img/spotify.svg") no-repeat 0 0;
          background-size: 100% auto;
        }
      }

      &--amazon {
        span {
          background: url("../img/amazonmusic.svg") no-repeat 0 0;
          background-size: 100% auto;
        }
      }

      &--reco {
        span {
          background: url("../img/recochoku.svg") no-repeat 0 0;
          background-size: 100% auto;
        }
      }

      &--mora {
        span {
          background: url("../img/mora.svg") no-repeat 0 0;
          background-size: 100% auto;
        }
      }

      &--itune {
        span {
          background: url("../img/itune.svg") no-repeat 0 0;
          background-size: 100% auto;
        }
      }
    }
    &__corpWrap{
      width: 100%;
      padding: 30px 0 10px;
    }
    &__corp{
      display: flex;
      text-align: center;
      color: #FFF;
      line-height: 1.5;
      justify-content: center;
      align-items: center;
      li{
        list-style: none;
        font-style: 12px;
        line-height: 1.5;
      }
     .footer__corp--twinWrapper{
      width: 32%;
    }
    .footer__corp--incsWrapper{
      width: 16%;
      margin: 0 5%;
    }

    }
  }

  .copyright {
    padding: 16px 0;

    p {
      font-size: 0.6rem;
    }
  }
}


// モーダル

/* モーダルCSS */
.modalArea {
  display: none;
  position: fixed;
  z-index: 10; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}


.modalWrapper { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 70%;
  max-width: 700px;
  padding: 30px;
  background-color: #fff;
  height: 80vh;
  overflow-y: scroll;
}
.modalTtl{
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 20px;
  font-weight: bold;
}
.modalTxt{
  font-size: 14px;
  line-height: 1.4;
}
.modalImg{
  margin: 0 auto;
  padding: 30px;  
}
// .modalInner{
//   padding: 10px 30px;
//   background-color: #fff;
//   overflow-y: scroll;
//   width: 50vw;
//   height: 50vw;
// }
.closeModal {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 30px;
  color: #cccccc;
}

/* SP 画面サイズが750px以下--------------------------------- */
@media screen and (max-width: base.$BP) {
  .modalWrapper { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 90vw;
    max-width: 500px;
    padding: 20px;
    
   height: 75vh;
    overflow-y: scroll;
  }
  .modalTtl{
    font-size: 14px;
    margin: 0 0 14px;
  }
  .modalTxt{
    font-size: 12px;
    line-height: 1.4;
  }
  .closeModal {
    top: 8px;
    right: 8px;
      font-size: 25px;
  }
}

#openModal{
  cursor: pointer;
}


//追加部分

.footer__renewel{
  background: #000;
  &--inner{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0; 
  }
  &--blc{
    display: flex;
    align-items: center;
    justify-content: center;
    a{
      white-space: nowrap;
      text-indent: -9999px;
    }
  }
  &--twin{
    background: url('../img/logo3_twinplanet.png') no-repeat 0 0;
    display: block;
    background-size: 100% auto;
    width: 72px;
    height: 19px;
  }
  &--incs{
    background: url('../img/logo3_incstone.png') no-repeat 0 0;
    display: block;
    background-size: 100% auto;
    margin: 0 80px 0 34px;
    width: 38px;
    height: 43px;
  }
}

/* SP 画面サイズが750px以下--------------------------------- */
@media screen and (max-width: base.$BP) {

  .footer__renewel{
    &--inner{
      width: 100%;
      padding: 40px 30px; 
    }
    &--blc{
      display: flex;
      align-items: center;
      justify-content: center;
      a{
        display: block;
      }
    }
    &--twin{
      background-size: 100% auto;
      width: 30px;
      height: 9px;
      margin-right: 15px;
    }
    &--incs{
      margin: 0 50px 0 30px;
      width: 18px;
      height: 20px;
    }
  }
}

//ニュースページ
.newspage{
  margin: 50px auto;
  width: 60%;

  &__list{
    margin: 80px auto 0;
    padding: 0 30px;
    color: #FFF;
    li{
      width: 100%;
      padding: 30px;
      border-bottom: solid 1px #FFF;
      list-style: none;
      &:first-child{
        border-top: solid 1px #FFF;
      }
    }
    &--img{
      margin: 40px 0 0;
      img{
        width: 100%;
        border-radius: 20px;
      }
    }
    &--ttl{

      h2{
        font-size: 14px;
        font-weight: bold;
        line-height: 2;
        letter-spacing: 0;
      }
    }
    &--txt{
      line-height: 1.8;
      font-size: 14px;
    }
    &--date{
      margin: 10px 0 30px;
    }
    &--con{
      padding-top: 30px;
      border-top: dotted 1px #FFF;
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: base.$BP) {

}


@keyframes rotation{
  0%{ transform:rotate(0);}
  100%{ transform:rotate(-90deg); }
}


.discovery__list{
  flex-wrap: wrap;

}